@media (min-width: 1366px) {
	#postImage{
		width: 43em;
	}
}
.postText{
	margin-top: -0.5em;
}
.serverInfo{
	display: -webkit-box !important
}
.serverInfo img{
	margin-top: 4px;
}
.serverInfo p {
	margin-top: 5px;
}